<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/stylesheets/personal.css" />
	</head>
	<body>

			<header id="header">
				<div class="logo"><a >Combinatorial Game Theory Project <span></span></a></div>
			</header>

	<section id="main">
				<div class="inner">

					

					<section id="Three" class="wrapper style2">
						<header>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/gLOZ4wupcl0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				
						</header>
						<style>
	        						ruby.example {
	            						ruby-align: left;
	        						}
	        						rt.example {
	            						font-size: 22px;
	            						color: white;
	        						}
	    						</style>
							<body>
								    <ruby class="example">  
								        <rt class="example">
								        A group project that I work on with a friend,    Mike Sandare.    We created a program where 2 AI agents play against eachother in the game of Conect 4.    One agent made decisions using Alpha-Beta pruning, while the other made decisions based on Monte Carlo Tree Search. The number of simulations used and tree depth can be modified.
								    	</rt>
								    </ruby>
								</body>
								<header>
							<h2 ><a href="https://github.com/scottkavalinas/Connect-4">Source Code </a></h2>
							
						</header>
						</div>
						
							
					</section>




		
				</div>

			</section>
	</body>
</html>