<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/stylesheets/personal.css" />
	</head>
	<body>

			<header id="header">
				<div class="logo"><a >Financial Portfolio Management Project' <span></span></a></div>
			</header>

<section id="main">
				<div class="inner">

					

					<section id="Three" class="wrapper style2">
						
						<style>
	        						ruby.example {
	            						ruby-align: left;
	        						}
	        						rt.example {
	            						font-size: 22px;
	            						color: white;
	        						}
	    						</style>
							<body>
								    <ruby class="example">  
								        <rt class="example">
								        Work in Progress. A portfolio managament tool that makes predicitions. Financial information is loaded into tensors for various companies, currently the tool will poredict the financial information for a given company for next quarter.
								    	</rt>
								    </ruby>
								</body>
								<header>
							<h2 ><a href="https://github.com/scottkavalinas/stockPred">Source Code </a></h2>
							
						</header>
						<header>
							<h2 >Training Information</h2>
							<div >
								<%= image_tag('bs.PNG', alt: 'Balance Sheets') %>
			
							</div>					
							
						</header>
						<header>
							<h2 > Loaded Training Tensors</h2>
							<div >
								<%= image_tag('tense.PNG', alt: 'Balance Sheets') %>
			
							</div>					
							
						</header>
						<header>
							<h2 > Normalized Tensors</h2>
							<div >
								<%= image_tag('norm.PNG', alt: 'Balance Sheets') %>
			
							</div>					
							
						</header>
						<header>
							<h2 > Un-Normalized Tensors</h2>
							<div >
								<%= image_tag('unorm.PNG', alt: 'Balance Sheets') %>
			
							</div>					
							
						</header>
	
						</div>
					</section>


		
				</div>
			</section>
	</body>
</html>