<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/stylesheets/personal.css" />
	</head>
	<body>




			<header id="header">

				<div class="logo"><a >Scott Kavalinas <span></span></a></div>
				<div >
			<%= image_tag('hs1.PNG', alt: 'Scott Kavalinas') %>
			
		</div>
			</header>

			<section id="main">
				<div class="inner">

					

					<section id="Three" class="wrapper style2">
						<header>
							<h2 ><a href="https://github.com/scottkavalinas">GitHub </a></h2>
							<h2 ><a href="https://www.linkedin.com/in/scott-kavalinas-572093106/">LinkedIn</a> </h2>
							<h2 ><a href="/projects">Projects</a> </h2>
						</header>
	
						</div>
					</section>


		
				</div>
			</section>

			<section id="main">
				<div class="inner">

					

					<section id="Three" class="wrapper style2">
						<header>
							<h2 >Education</h2>
						</header>
						<head>
	    						<style>
	        						ruby.example {
	            						ruby-align: left;
	        						}
	        						rt.example {
	            						font-size: 22px;
	            						color: white;
	        						}
	    						</style>
							</head>
							<div>
								<body>
								    <ruby class="example">  
								        <rt class="example">
								        Bachelor of Commerce (2016) 
								    	</rt>
								    </ruby>
								</body>
							</div>
							<div>
								<body>
								    <ruby class="example">  
								        <rt class="example">
								        Major in Finance, Minor in Management Science 
								    	</rt>
								    </ruby>
								</body>
							</div>
							<div>
								<body>
								    <ruby class="example">  
								        <rt class="example">
								        University of Alberta School of Business, Edmonton, Alberta 
								    	</rt>
								    </ruby>
								</body>
								<body>
								    <ruby class="example">  
								        <rt class="example">
								        _______________________________________________________________________________
								    	</rt>
								    </ruby>
								</body>
								<body>
								    <ruby class="example">  
								        <rt class="example">
								        Bachelor of Science (2021) 
								    	</rt>
								    </ruby>
								</body>
							</div>
							<div>
								<body>
								    <ruby class="example">  
								        <rt class="example">
								        Specialization in Computing Science, Concentration in Mathematics 
								    	</rt>
								    </ruby>
								</body>
							</div>
							<div>
								<body>
								    <ruby class="example">  
								        <rt class="example">
								        University of Alberta, Edmonton, Alberta 
								    	</rt>
								    </ruby>
								</body>
							</div>
						</div>
					</section>
					<section id="main">
						<div class="inner">
							<section id="Three" class="wrapper style2">
								<header>
									<h2 ><a href="/projects">Projects</a> </h2>
								</header>
						</div>
					</section>
				</div>
			</section>


		
				</div>
			</section>



	</body>
</html>