<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/stylesheets/personal.css" />
	</head>
	<body>

			<header id="header">
				<div class="logo"><a >Projects <span></span></a></div>
			</header>

	<section id="main">
				<div class="inner">

					

					<section id="Three" class="wrapper style2">
						<header>
							<h2 ><a href="/resreno">Residential Renovation App </a></h2>
							<h2 ><a href="/translate">Translate Shoot 'n Learn</a> </h2>
							<h2 ><a href="/rl">Reinforcment Learning Project</a></h2>
							<h2 ><a href="cgt">Combinatorial Game Theory Project</a></h2>
						</header>
	
						</div>
					</section>


		
				</div>
			</section>
	</body>
</html>