<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/stylesheets/personal.css" />
	</head>
	<body>

			<header id="header">
				<div class="logo"><a >Residential Renovation Project <span></span></a>
					
				</div>
			</header>

	<section id="main">
				<div class="inner">

					

					<section id="Three" class="wrapper style2">
						<header>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/pSZ4VqpkQOQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				
						</header>
							<style>
	        						ruby.example {
	            						ruby-align: left;
	        						}
	        						rt.example {
	            						font-size: 22px;
	            						color: white;
	        						}
	    						</style>
							<body>
								    <ruby class="example">  
								        <rt class="example">
								        A React and C# asp.net project that allows users to import and modify custom floor plans.
								    </ruby>
								</body>
	
						</div>
					</section>


		
				</div>
			</section>
	</body>
</html>