<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/stylesheets/personal.css" />
	</head>
	<body>

			<header id="header">
				<div class="logo"><a >Financial Portfolio Management Project' <span></span></a></div>
			</header>

<section id="main">
				<div class="inner">

					

					<section id="Three" class="wrapper style2">
						<header>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/c5AtvGT5hNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				
						</header>
						<style>
	        						ruby.example {
	            						ruby-align: left;
	        						}
	        						rt.example {
	            						font-size: 22px;
	            						color: white;
	        						}
	    						</style>
							<body>
								    <ruby class="example">  
								        <rt class="example">
								        Work in Progress. A portfolio managament tool that makes predicitions. Financial information is loaded into tensors for various companies, currently the tool will poredict the financial information for a given company for next quarter. The goal is to eventually have the tool predict prices.
								    	</rt>
								    </ruby>
								</body>
								<header>
							<h2 ><a href="https://github.com/HackED2021-Keyboard-Crhackers/Shoot-Translate-N-Learn">Source Code </a></h2>
							
						</header>
	
						</div>
					</section>


		
				</div>
			</section>
	</body>
</html>